.blog {
  code {
    color: $turquoise-strong;
  }

  h2 {
    border: none;
    padding-left: 0;
    font-size: 1.5rem;
  }

  h3 {
    border: none;
    padding-left: 0;
    font-size: 1.25rem;
    color: $turquoise-gray;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }
  img {
    max-width: 100%;
  }
}

.blog-posts {
  a {
    text-decoration: none;
  }
}
