.contact {
  .form-label {
    font-family: $headings-font-family;
    font-weight: 500;
    color: $heading-color-small;
  }

  .form-control {
    border-radius: 10px;
    font-family: $base-font;

    &[name="message"] {
      height: 234px;
    }
  }

  .form-control {
    border-color: $gray-base;
  }

  .input-narrow {
    height: calc(2em + 0.75rem + 2px);
  }

  .kw-alert-success {
    color: $turquoise-dark;
    background: $turquoise-light;
  }

  .kw-border-success {
    border-color: $primary;
  }
}
