footer {
  .icons {
    text-align: center;
    padding: 0rem 2rem 2rem 2rem;
    @media (min-width: 758px) {
      padding: 0rem 10rem 2rem 10rem;
    }
  }

  .fontAwesomeIcon {
    height: 4rem;
    // color: $primary;
    color: $aquamarine-light;
  }
}
