header {
  .nav-link {
    font-family: $headings-font-family;
    font-weight: 500;
    color: $heading-color;
    &:after {
      display: block;
      content: "";
      border-bottom: $border-style;
      transform: scaleX(0);
      transition: ease-in 0.15s;
    }

    &:hover:after,
    &:focus:after {
      transform: scaleX(1.25);
      transition: ease-in 0.15s;
    }

    @media screen and (max-width: 767px) {
      width: max-content;
      margin: 1rem auto;
      transform: scale(1.5);
    }
  }

  .nav-link.active:after {
    display: block;
    content: "";
    transform: scaleX(1.25);
  }

  .navbar-toggler {
    // color: $primary;
    border: none;
    &:focus {
      outline-color: hsla($aquamarine-base, 42%, 64%, 50%);
    }
  }

  .navbar-brand {
    border: none;
  }

  .navbar-toggler-icon {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='hsl(146, 45%, 62%)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    transform: scale(1.5);
  }
}
