header {
  .nav-link {
    font-family: $headings-font-family;
    font-weight: 500;
    color: $heading-color;
    &:after {
      display: block;
      content: "";
      border-bottom: $border-style;
      transform: scaleX(0);
      transition: ease-in 0.15s;
    }

    &:hover:after,
    &:focus:after {
      transform: scaleX(1.25);
      transition: ease-in 0.15s;
    }
  }

  .nav-link.active:after {
    display: block;
    content: "";
    transform: scaleX(1.25);
  }

  .navbar-light .navbar-toggler {
    color: $primary;
    border: none;
  }

  .navbar-brand {
    border: none;
  }
}
