.projects {
  .card-vertical {
    .card-img-top {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .card-horizontal {
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-body {
      height: 100%;
    }

    .img-container {
      min-height: 300px;
    }

    .card-img {
      border-radius: 0 10px 10px 0;
      height: 100%;
      object-fit: cover;
    }
  }

  .icon-wrapper {
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    background: $aquamarine-light;
    border-radius: 5px;
  }

  .fontAwesomeIcon {
    width: 2.5rem;
    color: $light-sky-dark;
  }
}
