.projects {
  .card-vertical {
    .card-img-top {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  .card-horizontal {
    display: flex;
    flex-direction: column;
    height: 100%;

    .card-body {
      height: 100%;
    }

    .img-container {
      min-height: 300px;
    }

    .card-img {
      border-radius: 0 10px 10px 0;
      height: 100%;
      object-fit: cover;
    }

    .project-hover {
      opacity: 0;
      width: calc(100% - 15px);
      height: 100%;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      border-radius: 0 10px 10px 0;
      background: hsla($light-sky-base, 20%, 55%, 60%);
      transition: ease-in 1s;
    }

    .transition-opacity {
      transition: ease-in 1s;
      opacity: 1;
    }

    .hover-indicator {
      height: 40px;
      width: 40px;
      border-radius: 0 10px 0 40px;
      background: $aquamarine-light;
      position: absolute;
      right: 15px;
      top: 0;
      z-index: 10;
    }

    .link-icons {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 53%;
      top: 50%;
      width: fit-content;
    }
  }

  .link-icons {
    a:hover {
      border: none;
    }
  }

  .icon-wrapper {
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    background: $aquamarine-light;
    transition: ease-in 0.15s;
    border-radius: 5px;
    &:hover,
    &:focus {
      background: $primary;
      transition: ease-in 0.15s;
    }
  }

  .fontAwesomeIcon {
    width: 2.5rem;
    color: $light-sky-dark;
  }
}
